<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>E-digital Group, Inc</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="robots" content="noindex">
  <style>
    .header {
      background-color: #052f40;
      padding: 20px;
      text-align: center;
      font-family: Arial, sans-serif;
      color: #fff;
      font-size: 16px;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      box-sizing: border-box;
    }

    .main {
      background-color: #f4f4f4;
      padding: 20px;
      text-align: center;
      font-family: Arial, sans-serif;
      color: #333;
      font-size: 16px;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      box-sizing: border-box;
    }

    .table-block {
      background-color: #fff;
      padding: 20px;
      text-align: center;
      font-family: Arial, sans-serif;
      color: #333;
      font-size: 16px;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      box-sizing: border-box;
    }

    .footer {
      background-color: #052f40;
      padding: 20px;
      text-align: center;
      font-family: Arial, sans-serif;
      color: #fff;
      font-size: 16px;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      box-sizing: border-box;
    }

    .footer p {
      line-height: 1;
      margin-bottom: 10px;
    }

    .footer a {
      color: #fff;
      text-decoration: none;
    }

    .footer a:hover {
      color: #0fc9f2;
    }

    table {
      width: 100%;
    }

    th {
      padding: 10px 0;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    td {
      padding: 10px;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }

    .text-left {
      text-align: left;
    }

    .left-align-block {
      padding: 20px;
      text-align: left;
      font-family: Arial, sans-serif;
      color: #333;
      font-size: 16px;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      box-sizing: border-box;
    }
  </style>
</head>