<div class="header">
  <img src="https://www.e-digitalgroup.com/images/logo-stretched-no-bg.png" alt="E-Digital Group Logo" width="300"
    height="75"
    style="width: 300px; height: auto; margin: 0 auto; display: block; margin-bottom: 20px; margin-top: 20px;">
</div>